<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Eadesigndev_ComposerRepo::composer_title"
             title="Composer Repository"
             module="Eadesigndev_ComposerRepo"
             sortOrder="20"
             resource="Eadesigndev_ComposerRepo::composerrepo"
             parent="Eadesigndev_Eacore::eadesign"
        />

        <add id="Eadesigndev_ComposerRepo::composerrepo_packages"
             title="Packages"
             module="Eadesigndev_ComposerRepo"
             sortOrder="20"
             parent="Eadesigndev_ComposerRepo::composer_title"
             action="composer_packages/index"
             resource="Eadesigndev_ComposerRepo::composerrepo"
        />

        <add id="Eadesigndev_ComposerRepo::composerrepo_customer_key"
             title="Customer Key"
             module="Eadesigndev_ComposerRepo"
             sortOrder="40"
             parent="Eadesigndev_ComposerRepo::composer_title"
             action="composer_customer_auth/index/auth"
             resource="Eadesigndev_ComposerRepo::composerrepo"
        />

        <add id="Eadesigndev_ComposerRepo::composerrepo_customer_packages"
             title="Customer Packages"
             module="Eadesigndev_ComposerRepo"
             sortOrder="50"
             parent="Eadesigndev_ComposerRepo::composer_title"
             action="composer_customer_packages/index/packages"
             resource="Eadesigndev_ComposerRepo::composerrepo"
        />

        <add id="Eadesigndev_ComposerRepo::composerrepo_statistic"
             title="Installation Statistics"
             module="Eadesigndev_ComposerRepo"
             sortOrder="60"
             parent="Eadesigndev_ComposerRepo::composer_title"
             action="composer_statistics/index/statistics"
             resource="Eadesigndev_ComposerRepo::composerrepo"
        />
    </menu>
</config>