<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="ea_composerrepo" translate="label" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Composer Repo</label>
            <tab>eadesign_extensions</tab>
            <resource>Eadesigndev_ComposerRepo::configuration</resource>
            <group id="composerrepo" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Composer Repo</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment>If enabled, awb will be customized by your settings made at "Manage AWB List".</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>